EXPO_PUBLIC_API_URL=https://url-del-backend

EXPO_PUBLIC_SUPABASE_URL=https://url-del-proyecto-supabase
EXPO_PUBLIC_SUPABASE_ANON_KEY=la-clave-anonima-de-supabase

# Mock Mode for UI Testing. If you are using a mock backend, set this to true. If you are using a real backend, set this to false.
EXPO_PUBLIC_USE_MOCKS=true
