@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 
      Paleta "Dark Mode First" del guideline 
      Background Principal: #111217 -> HSL: 230 15% 8%
      Superficies Secundarias: #262A35 -> HSL: 224 16% 18%
      Texto Principal: #FFFFFF -> HSL: 0 0% 100%
      Texto Secundario: #60677D -> HSL: 226 13% 43%
    */
    --background: 230 15% 8%;
    --foreground: 0 0% 100%;

    --card: 224 16% 18%;
    --card-foreground: 0 0% 100%;

    --popover: 224 16% 18%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 230 15% 8%;

    --secondary: 224 16% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 224 16% 18%;
    --muted-foreground: 226 13% 43%;

    --accent: 224 16% 18%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 224 16% 18%;
    --input: 224 16% 18%;
    --ring: 226 13% 43%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 230 15% 8%;
    --foreground: 0 0% 100%;

    --card: 224 16% 18%;
    --card-foreground: 0 0% 100%;

    --popover: 224 16% 18%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 230 15% 8%;

    --secondary: 224 16% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 224 16% 18%;
    --muted-foreground: 226 13% 43%;

    --accent: 224 16% 18%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 91%;

    --border: 224 16% 18%;
    --input: 224 16% 18%;
    --ring: 226 13% 43%;
    
    --radius: 0.5rem;
  }
}