SUPABASE_URL=project_url
SUPABASE_ANON_KEY=project_anon_key
PORT=3000

NEXT_FRONTEND_DEPLOY_URL=deploy-url
NEXT_FRONTEND_LOCAL_URL=local-url

# Resend Email Integration
RESEND_API_KEY=re_your_api_key

# Direcciones de origen por tipo
RESEND_EMAIL_NOREPLY=email@example.com
RESEND_EMAIL_HOLA=email@example.com
RESEND_EMAIL_FEEDBACK=email@example.com

# Nombres visibles en el cliente de correo
RESEND_NAME_APP=Name
RESEND_NAME_MARKETING=Name
